{% extends 'base.html'%}
{% load static %}  
    
{% block content %}
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(static/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">                
                <div class="col-md-9">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-a">
                      Me contacter.
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Avez vous de questions? Un message a me faire parvenir?
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> 5 rue Pierre Lavoye 95300 PONTOISE</li>
                      <li><span class="ion-ios-telephone"></span> (+33) 625537373</li>
                      <li><span class="ion-email"></span><A HREF="mailto:nuno.ricardo.mars@gmail.com">nuno.ricardo.mars@gmail.com</A></li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/nuno-ricardo/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                      <li><a href="https://github.com/NunoMars/"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      <li><a href="https://www.facebook.com/nuno.marcelino.5/"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com/nuno_musico/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->
{% endblock %}
